<!DOCTYPE html>
<% if(table){%>
    <!-- Campus selctor-->
    <div class="form-group" onchange="hide()">
        <label for="campus">Campus</label>
        <select class="form-control" id="campus" name="campus">
            <option value="" selected disabled>Please Select</option>
            <% for(var key in table){%>
                <option><%= key %></option>
            <% }%>
        </select>
        <a href="javascript:addOption('campus')">Add a campus</a>
    </div>
    <% for(var key in table){%>
        <div class="hidden" name="aptNameSelecter" id="<%= key %>">
            <label for="name">Apartment Name</label>
            <select class="form-control" id="SELECT_<%= key %>" name="name">
                <option value="" selected disabled>Please Select</option>
                <% for(var i in table[key]){ %>
                    <option><%= table[key][i] %></option>
                <% } %>
            </select>
            <a href="javascript:addOption('SELECT_<%= key %>')">Add an apartment</a>
        </div>
    <% }%>
    <script type="text/javascript">
        var addOption = function(id){
            //get new name
            console.log(id);
            id = document.getElementById(id);
            console.log(id);
            var name = window.prompt("Please type the name you need to add.", "");
            var option = document.createElement("option");
            option.text = name;
            //option.onchange = hide;
            id.add(option);
            id.value = name;
           
            //need to add a new input box if making a new school
            if(id.name == "campus"){
                var inputOption = '\
                    <div class="hidden" name="aptNameSelecter" id="' + name + '"> \
                        <label for="name">Apartment Name</label> \
                        <select class="form-control" id="SELECT_' + name + '" name="name"> \
                            <option value="" selected disabled>Please Select</option> \
                        </select> \
                        <a href="javascript:addOption(\'SELECT_' + name +'\')">Add an apartment</a>\
                    </div>'
                
                var newDiv = document.createElement('div');
                newDiv.innerHTML = inputOption;
                var parentNode = id.parentElement;
                parentNode.appendChild(newDiv);
                hide();
            } 
        }

        var hide = function(){
            var campusSelect = document.getElementById('campus');
            console.log('event happened');
            var aptSelecters = document.getElementsByName("aptNameSelecter");
            for(var i in aptSelecters){
                var element = aptSelecters[i];
                console.log("\t", element);
                console.log("\t", element.className);
                console.log("\t", element.id);
                var divClass = "hidden";
                if(campusSelect.value == element.id){
                    divClass = "form-group";
                }
                element.className = divClass;
            }
        }
    </script>
<% } %>
