<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Campus Apartment Rater
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/auth/login/">login</a></li>
            <li><a href="/auth/logout/">logout</a></li>
            <li><a href="/actions/viewProfile/">Profile</a></li>
            <li><a href="/actions/newReview/">New Review</a></li>
            <li><a href="/actions/viewApartments/">Find Apartment</a></li>
        </ul>
      
    </div>
</nav>
