<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        MSG: <%= message %><br/>
        ERROR: <%= error %><br/>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html> 

