<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <% if (!user) {%>
            <p> Welcome! Please login</p>
        <% } else { %>
            <p>Welcome <%= user.displayName %>!</p>
        <% } %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html> 

