<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <a href="/auth/login/facebook">Log In With Facebook</a>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html> 

