<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <form action="/actions/newReview" method="POST">
            <% include ../partials/aptSelecter %>
            <div class="form-group">
                <label for="overall">Overall review</label>
                <select class="form-control" id="overall" name="overall">
                    <option value="" selected disabled>Please Select</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="parking">Parking quality</label>
                <select class="form-control" id="parking" name="parking">
                    <option value="" selected disabled>Please Select</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="distance">Distance to campus</label>
                <select class="form-control" id="distance" name="distance">
                    <option value="" selected disabled>Please Select</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price per person</label>
                <input class="form-control" type="text" id="price" name="price" placeholder="100.00"></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% if(submitted != null  && submitted){%>
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Success!</strong> Your review was accepted.
            </div>
        
        <% }else if(submitted != null && ! submitted){%>
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong> Review not fully filled out.
            </div>
        <% }%>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html> 

