<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <p>
            ID: <%= user.id %><br/>
            Name: <%= user.displayName %><br/>
        </p>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html> 

