<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
    <form action="/actions/viewApartments" method="POST">
        <div class="form-group">
            <label for="campus">Campus</label>
            <select class="form-control" id="campus" name="campus">
                <option value="" selected disabled>Please Select</option>
                <% for(var key in campuses) {%>
                    <option><%= campuses[key] %></option>
                <% } %>
            </select>
        </div>
        <button type="submit" class="butn btn-primary">Submit</button>
    </form>
    <% if(data){%>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Overall</th>
                <th>Price</th>
                <th>Distance from Campus</th>
                <th>Parking</th>
            </thead>
            <tbody>
            <% for(var i=0; i<data.length; i ++){%>
                <tr>
                <% for(var j=0; j<data[i].length; j++){%>
                    <td><%= data[i][j]%></td>
                <% }%>
                </tr>
            <% }%>
            </tbody>
        </table>
    <%}%>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html> 

